/classes/
.DS_Store
.settings/*
war/WEB-INF/classes/*
war/WEB-INF/appengine-generated/*
.cvsignore
settings/*
war/compressedfile
war/WEB-INF/appengine-generated
war/WEB-INF/lib/jsr107cache-*
war/WEB-INF/lib/appengine*
war/WEB-INF/lib/appengine-*
war/WEB-INF/lib/datanucleus*
war/WEB-INF/lib/jdo*
war/WEB-INF/lib/jsr*
war/WEB-INF/lib/geronimo*
/bin

!war/WEB-INF/lib/appengine-gcs-client*
!war/WEB-INF/lib/jsr305-1.3.9.jar
/.apt_generated
.factorypath